html { font-family: sans-serif; margin: 1em; }
h1 { font-weight: bold; font-size: 5em; font-family: 'Molengo'; }
h2 { font-weight: bold; font-size: 120%; }

#ft { font-size: 93%; color: #444; }

strong { font-weight: bold; }
legend { font-weight: bold; }
.error { border: 1px solid red; }
.info { border: 1px solid green; }

.green { color: green; }
.red { color: red; }
.follow:hover { cursor:pointer; border: 1px dotted; }

.dates { font-weight: bold; border-top: 1px dotted; margin-top: 1em; }
.events { font-weight: normal;  }

.hoverable:hover { background: #c6daf4 ; cursor:pointer; }

.details { display: none; }
