{% extends "base.html" %}

{% block title %}
timeline
{% end %}

{% block body %}
<h1>timeline</h1>
{% if not current_user %}
<div>
  click <a href="/login">here</a> to login or create an account.
</div>
{% end %}
{% if current_user %}
<h2> Events List </h2>
<div id="events_list">
    {% for event_tup in events_list %}
				<div class=dates>
				{{ event_tup[0] }}
				{% for event in event_tup[1] %}
						<ul class=events>{{event.name}}</ul>
				{% end %}
				</div>
    {% end %}
</div>

<!--
<form>
  {{xsrf_form_html()}}
  <label for="name">I want</label>
  <input type="text" id="terms" name="terms">
  <label for="near">near:</label>
  <input type="text" id="near" name="near" value="706 Mission, SF">
  <input type="submit" value="haw" id="search">
</form>
<br>
-->

{% end %}

{% end %}

